.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 10;
}

.footer span {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
}

.footer i {
    padding: 0 4px;
}

.footer strong {
   padding-left: 4px;
}